  /* classes always start with a dot */
.firstDiv{
  color: red;
}

.secondDiv{
  color: blue;
}

/* # is a selector for selecting Ids */
#singledout{
  color: green;
  text-decoration: line-through;
}

/* "*" is a selector for selecting everything on the page */

h3 + ul {
  border: 4px dotted purple;
}

li a{
  color: red;
}

li a[href="www.npr.org"]{
  color: blue;
  border: 5px solid orange;
}
